@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
img {max-width: 100%}
ul {list-style: none;margin: 0;padding: 0}
.btn {text-decoration: none;transition: all .5s ease-in-out}
a,a i.fa {transition: all .5s ease-in-out}
.explore h2 span,.blog h2 span,.services h2 span,.industries h2 span,.about h2 span,.inside h2 span,.inner-content h2 span,
.press h2 span {position: relative}
.explore h2 span:before,.blog h2 span:before,.services h2 span:before,#footer h3 span:after,.industries h2 span:after,
.about h2 span:after,.inside h2 span:before,.inner-content h2 span:before,.press h2 span:after {position: absolute;
content: "";bottom: -17px;left: -3px;background: url(../images/after-head.png) no-repeat;height: 15px;width: 100%}
a.btn.load {font-size:  16px;background: #43bded;border-radius: 0px;color: #fff;font-weight: 600;padding: 15px 26px;
margin: 25px 0px 0px 0px;box-shadow: 0px 6px 7px #bdbcbd}
a.btn.load:hover {background: #353636;}
@font-face {font-family: 'Conv_Muller-ExtraBold-DEMO';src: url('../fonts/Muller-ExtraBold-DEMO.eot');
src: local('Conv_Muller-ExtraBold-DEMO'), url('../fonts/Muller-ExtraBold-DEMO.woff') format('woff'), url('../fonts/Muller-ExtraBold-DEMO.ttf') format('truetype'), url('../fonts/Muller-ExtraBold-DEMO.svg') format('svg');
font-weight: normal;font-style: normal;}
.main-header {padding: 0px 1em;background: url(../images/header-bg.png) no-repeat 25% bottom;min-height: 90px;background-size: contain;}
.main-header .logo {width: 300px;float: left;margin-right: 40px;margin-top: 20px;margin-bottom: 20px;}
.main-header .header-nav {float: left}
.main-header .right_head {float: right;margin: 25px 0px}
.main-header .right_head ul li {display: inline-block}
.main-header .right_head ul li:first-child i.fa {border: 1px solid #000;height: 41px;width: 50px;text-align: center;/*padding: 10px 0px;*/line-height: 40px;
margin-right: 10px;cursor:pointer;}
.main-header .right_head ul li:last-child a {background: #43bded;color: #fff;font-size: 16px;font-weight: 500;padding: 10px 15px;
box-shadow: 0px 6px 7px #e0e0e0}
.main-header .right_head ul li:last-child a span {background: #fff;margin-left: 8px;padding: 5px 7px;}
.navbar-nav>li {position: relative}
.dropdown-menu{box-shadow: none;border-radius: 0;padding: 0;border:0;background-color: #fff;text-transform: capitalize;font-size: 13px;}
@media(min-width:768px) {
.dropdown:hover .dropdown-menu {display: block}
.navbar-inverse .navbar-nav>li:first-child>a {padding-left: 0px}
.navbar-inverse .navbar-nav>li:last-child>a {padding-right: 0px}
}
.banner {position: relative;font-size: 20px;color: #fff;line-height: 30px}
.banner .item img {width: 100%;}
.banner .item .banner-text {position: absolute;top: 50%;transform: translate(0%, -50%);width: 75%;}
.banner .item h1 {font-size: 40px;color: #fff;font-family: 'Conv_Muller-ExtraBold-DEMO';}
.banner .item h1 span {padding: 15px 25px;padding-left: 0;}
.banner .item p {padding: 0px 25px 15px;padding-left: 0;}
.banner .item a.btn.btn-banner {font-size: 16px;background: #43bded;border-radius: 0px;color: #fff;font-weight: 600;
padding: 15px 26px;margin: 15px 0px 15px 0px;}
.banner .item a.btn.btn-banner:hover {background: #353636;}
.banner .owl-nav {position: absolute;top: 44%;width: 100%}
.banner .owl-prev {position: absolute;left: 15px;}
.banner .owl-next {position: absolute;right: 15px;}
.about {background: url(../images/blog-bg.jpg) repeat;padding: 50px 0px;font-size: 16px;color: #555555}
.about p {margin-bottom: 20px}
.about h2 {font-size: 25px;font-weight: 500;margin-bottom: 35px}
.about a.btn.btn-about {font-size: 16px;background: #43bded;border-radius: 0px;color: #fff;font-weight: 600;padding: 15px 26px;
margin: 10px 0px 15px 0px;box-shadow: 0px 6px 7px #bdbcbd}
.about a.btn.btn-about:hover {background: #353636;}
.about figure.full-width {position: relative}
.about figure.full-width:before {background: #43bded;position: absolute;content: "";bottom: -1px;right: -10px;height: 50%;
width: 10px;}
.about figure.full-width:after {background: #43bded;position: absolute;content: "";bottom: -1px;right: -10px;
height: 10px;width: 50%;}
.about figure.full-width img {width: 100%}
.explore {background: url(../images/explore-bg.jpg) no-repeat center;background-size: cover;padding: 70px 0px}
.explore h2 {font-size: 25px;font-weight: 500;margin-bottom: 35px}
.explore .white-block {background: rgba(255, 255, 255, 0.8);border-left: 8px solid #43bded;padding: 35px 20px;font-size: 16px;}
.explore .white-block a.btn.btn-explore {font-size: 16px;background: #43bded;border-radius: 0px;color: #fff;font-weight: 600;
padding: 15px 26px;margin: 10px 0px 15px 0px;box-shadow: 0px 6px 7px #bdbcbd}
.explore .white-block a.btn.btn-explore:hover {background: #353636;}
.explore .white-block ul li {position: relative;padding-left: 20px;line-height: 30px}
.explore .white-block ul li:before {position: absolute;content: "";top: 12px;left: 0;background: #000;height: 6px;width: 6px;
border-radius: 50%}
.blog {background: url(../images/blog-bg.jpg) repeat;padding: 50px 0px 0px}
.services,.industries,.inside {padding: 50px 0px}
.blog h2,.services h2,.industries h2,.inside h2 {font-size: 25px;font-weight: 500;margin-bottom: 20px;text-transform: capitalize}
.blog .item figure img,.services .item figure img,.inside .item figure img {width: 100%;margin: 20px 0px 15px}
.blog .item p.info {color: #656565;font-size: 13px;margin-bottom: 0px;}
.blog .item h3,.services .item h3,.industries .item h3,.inside h3 {font-weight: 500;font-size: 16px;margin-top: 5px;line-height: 27px}
.blog .item h3 a,.services .item h3 a,.industries .item h3 a,.inside h3 a {color: #142430;}
.blog .item h3 a:hover,.services .item h3 a:hover {color: #43bded;}
.blog .owl-nav,.services .owl-nav {position: absolute;top: 30%;width: 100%}
.blog .owl-prev,.services .owl-prev {position: absolute;left: -55px;}
.blog .owl-next,.services .owl-next {position: absolute;right: -55px;}
img.blue-icon {position: relative;top: -1px;margin-left: 5px;}
.services a,.industries a {color: #43bded;}
.services .item p.info,.industries .item p.info {color: #656565;font-size: 16px;margin-bottom: 10px;line-height: 24px;}
.services a i.fa,.industries a i.fa {margin-left: 7px;font-weight: 300}
.industries .item h3,.inside .item h3 {font-size: 20px}
.industries .item figure {background: #353636;text-align: center;margin: 30px 0px 20px;padding: 10px;position: relative;
width: 80px;height: 80px;}
.industries .item figure:after {background: #43bded;position: absolute;content: "";bottom: -6px;right: -6px;height: 45px;width: 6px;}
.industries .item figure:before {background: #43bded;position: absolute;content: "";bottom: -6px;right: -6px;height: 6px;width: 45px;}
.subscribe-out {background: url(../images/blog-bg.jpg) repeat;}
.subscribe {background: url(../images/subscribe.png) no-repeat #43bded 67% bottom;padding: 35px 30px;position: relative;top: 65px;}
.subscribe h2 {font-size: 35px;color: #fff;font-weight: 500;margin-top: 0px}
.subscribe h2 {position: relative}
.subscribe h2:after {position: absolute;content: "";bottom: -17px;left: -3px;background: url(../images/after-head-white.png) no-repeat;
height: 15px;width: 100%}
.subscribe a.btn.subscribe-btn {float: right;font-size:16px;background: #fff;border-radius: 0px;color: #000;font-weight: 600;padding: 12px 20px;
margin: 7px 0px 0px 0px;box-shadow: 0px 6px 7px #39a2cb}
.subscribe a.btn.subscribe-btn:hover {background: #353636;color: #fff;}
#footer {background: #dcf1fa;padding: 100px 0px 30px}
#footer h3 {font-size: 20px;font-weight: 500;margin-bottom: 30px;}
#footer h3 span,#footer .foot_col:nth-child(2) ul.address li {position: relative}
#footer a {color: #000}
#footer a:hover {color: #43bded}
#footer .foot_logo {margin-bottom: 20px}
#footer .foot_col:first-child {padding-right: 75px;}
#footer .foot_col:nth-child(2) {padding-left: 75px;}
#footer .foot_col:first-child p {margin-bottom: 30px}
#footer .foot_col:first-child ul li {display: inline-block}
#footer .foot_col:first-child ul li a i.fa {border: 1px solid #000;padding: 12px;font-size: 20px;height: 45px;
width: 45px;margin-right: 5px;text-align: center;}
#footer .foot_col:first-child ul li a i.fa:hover {border: 1px solid #43bded;background: #43bded;color: #fff}
#footer .foot_col:nth-child(2) ul {margin-bottom: 30px}
#footer .foot_col:nth-child(2) ul li {padding-left: 17px;line-height: 33px;position: relative}
#footer .foot_col:nth-child(2) ul li:before {content: ">";position: absolute;top: 0;left: 0;font-size: 20px}
#footer .foot_col:nth-child(2) ul.address li {padding-left: 25px;line-height: 26px;margin-bottom: 10px}
#footer .foot_col:nth-child(2) ul.address {margin-bottom: 0px}
#footer .foot_col:nth-child(2) ul.address li:before {position: absolute;content: "";top: 0;left: 0;font-family: FontAwesome;
color: #43bded;font-size: 16px;}
#footer .foot_col:nth-child(2) ul.address li:nth-child(1):before {content: "\f041"}
#footer .foot_col:nth-child(2) ul.address li:nth-child(2):before {content: "\f095"}
#footer .foot_col:nth-child(2) ul.address li:nth-child(3):before {content: "\f0e0"}
.copyright {padding: 20px 0px;font-weight: 300;text-align: center;background: #68696a;font-size: 15px;color: #fff}
.copyright ul li {display: inline-block;}
.copyright ul li a {color: #fff}
.copyright ul li:nth-child(1) a:after,.copyright ul li:nth-child(2) a:after {content: "|";margin: 0px 10px}
.copyright ul li:nth-child(3) {margin-right: 25px}
.banner-inner {padding: 200px 0px 0px;}
.banner-inner.videos {background: url(../images/videos-bg.jpg) no-repeat center;background-size: cover;}
.banner-inner.system {background: url(../images/system.jpg) no-repeat center;background-size: cover;}
.banner-inner.media {background: url(../images/media-bg.jpg) no-repeat center;background-size: cover;}
.banner-inner.career {background: url(../images/Careers_250677010_Preview.jpg) no-repeat center;background-size: cover;}
.banner-inner.contact-banner {background: url(../images/AdobeStock_190379021.jpeg) no-repeat center;background-size: cover;}
.banner-inner.general {background: url(../images/general-bg.jpg) no-repeat center;background-size: cover;}
.banner-inner.ccpa-banner {background: url(../images/AdobeStock_302888513.jpeg) no-repeat center;background-size: cover;}
.banner-inner.trackrecord-banner {background: url(../images/AdobeStock_306284763.jpg) no-repeat center;background-size: cover;}
.banner-inner.howard-university-school-banner {background: url(../images/AdobeStock_115601262.jpeg) no-repeat center;background-size: cover;}
.banner-inner.gramm-leach-banner{background: url(../images/AdobeStock_209641969.jpeg) no-repeat center 75%;background-size: cover;}
.local-government-banner{background: url(../images/AdobeStock_308718200.jpeg) no-repeat center 75%;background-size: cover;}
.financial-services-banner{background: url(../images/AdobeStock_39481228.jpeg) no-repeat center 75%;background-size: cover;}
.power-utility-company-banner{background: url(../images/AdobeStock_954386.jpeg) no-repeat center 75%;background-size: cover;}
.federal-agency-history1-banner{background: url(../images/AdobeStock_193121185.jpeg) no-repeat center 75%;background-size: cover;}
.federal-agency-history2-banner{background: url(../images/AdobeStock_200594086.jpg) no-repeat center 75%;background-size: cover;}
.african-market-case-banner{background: url(../images/AdobeStock_70641553.jpeg) no-repeat center 75%;background-size: cover;}
.gdpr-case-history-banner{background: url(../images/AdobeStock_206963189.jpeg) no-repeat center 75%;background-size: cover;}
.blog.inner {padding: 50px 0px}
.banner-inner .banner-inner-text {background: rgba(0, 0, 0, .6);color: #fff;font-size: 18px;padding: 15px}
.banner-inner .banner-inner-text h1 {color: #fff;font-size: 30px;float: left;margin-top: 10px}
.banner-inner .banner-inner-text a {background: #43bded;color: #fff;font-size: 16px;font-weight: 500;padding: 10px 15px;
float: right}
.banner-inner .banner-inner-text a span {background: #fff;margin-left: 8px;padding: 5px 10px;color: #000}
.banner-inner .banner-inner-text .clearfix {border-bottom: 1px solid #c0c0c0;margin-bottom: 10px;}
.inner-content {padding: 50px 0px;background: url(../images/blog-bg.jpg) repeat center}
.inner-content h2 {font-size: 20px;font-weight: 500;margin-bottom: 35px}
.inner-content p {margin-bottom: 25px}
.inner-content ul {margin-bottom: 20px}
.inner-content ul li {position: relative;padding-left: 20px;line-height: 30px;padding-bottom: 7px;}
.inner-content ul.column-2 {column-count: 2}
.inner-content ul li:before {position: absolute;content: "";top: 12px;left: 0;background: #000;height: 6px;width: 6px;border-radius: 50%}
img.full-width {width: 100%;margin-bottom: 20px}
.other-text {background: #f2f9fc;padding: 15px;width: 100%;position: relative;top: -20px;}
a.btn.btn-blue {background: #43bded;color: #fff;font-size: 16px;font-weight: 500;padding: 10px 15px;border-radius: 0px}
a.btn.btn-blue span {background: #fff;margin-left: 8px;padding: 5px 10px;color: #000}
.inner-content ul.nav-tabs {margin-bottom: 0px}
.inner-content ul.nav-tabs li {width: 33.3%;padding-left: 0px;padding-bottom: 0px;background: #fff;font-size: 18px;text-align: center;color: #000;
border: 1px solid #43bded;padding: 15px 0px}
.inner-content ul.nav-tabs.half-width li {width: 50%}
.inner-content ul.nav-tabs li.active {background: #43bded;position: relative}
.inner-content ul.nav-tabs li.active:after {position: absolute;content: "";bottom: -20px;left: 0;right: 0;border: 10px solid #43bded;
width: 20px;margin: 0 auto;border-bottom: 10px solid transparent;border-left: 10px solid transparent;border-right: 10px solid transparent}
.inner-content ul.nav-tabs li a {color: #000}
.inner-content ul.nav-tabs li.active a {color: #fff}
.inner-content ul.nav-tabs li:before {display: none}
.tab-content {background: #fff;padding: 20px 15px 15px;margin-bottom: 25px;}
.tab-content h2 {margin-bottom: 15px;}
h2.left {float: left}
a.watch {color: #10ace9;font-size: 18px;text-decoration: underline;float: right;text-transform: capitalize;padding-top: 18px;}
.press {padding: 50px 0px}
.press h2 {font-size: 20px;font-weight: 500;margin-bottom: 20px;margin-top: 0px}
.press ul {margin-bottom: 20px;}
.press a {color: #10ace9}
.bg-blocks {}
.bg-blocks .white-col .item {background: #fff;padding: 15px 20px;margin: 20px 0px;min-height: 298px;box-shadow: 2px 5px 7px #c7c7c7;}
.bg-blocks h3 {font-weight: 500;font-size: 16px;margin-top: 5px;line-height: 27px}
.bg-blocks h3 a {color: #142430}
.bg-blocks .white-col .item p.info {min-height: 170px}
.bg-blocks .white-col .item:hover {background: #43bded;color: #fff;box-shadow: none;}
.bg-blocks .white-col .item:hover h3 a,.bg-blocks .white-col .item:hover .time .poston,.bg-blocks .white-col .item:hover .time .poston i.fa,
.bg-blocks .white-col .item:hover .time .location,.bg-blocks .white-col .item:hover a {color: #fff}
.bg-blocks .white-col .item:hover p.info,.bg-blocks .white-col .item:hover a.btn.btn-learn {color: #fff}
.bg-blocks a {font-size: 16px;background: transparent;color: #43bded;padding: 10px 0px 0px}
.bg-blocks a.btn.btn-learn {font-size: 16px;background: transparent;color: #43bded;padding: 10px 0px 0px}
.bg-blocks a.btn.btn-apply {font-size: 16px;background: #43bded;color: #fff;padding: 10px 8px;border-radius: 0px;display: block;width: 150px;
margin: 15px auto 6px;font-weight: 600;box-shadow: 0px 5px 10px #afafaf;}
.bg-blocks .white-col .item:hover a.btn.btn-apply {background: #fff;color: #000}
.bg-blocks a.btn.btn-learn i.fa {margin-left: 10px}
.bg-blocks .time {}
.bg-blocks .time .location {float: left;color: #848484;font-size: 15px;margin-bottom: 10px}
.bg-blocks .time .poston {float: right;color: #848484;font-size: 15px;margin-bottom: 10px}
.bg-blocks .time .poston i.fa {margin-right: 10px}
.bg-blocks .clearfix {border-bottom: 1px solid #eee;margin: 0px 0px 10px}
/*****************added by Sanjay(16-11-2019)**************/

/**about-us-page**/
.inner-pt-0 {padding-top: 0px;}
.inner-pb-0{ padding-bottom: 0px; }
.inner-slide {max-width: 800px;margin: 0 auto;text-align: center;}
.in-page-service .other-text {min-height: 205px;}
.about-p-item .time {text-align: center;margin-bottom: 15px;}
.about-p-item .time img {border-radius: 50%;}
.about-p-item .item {background: #fff;padding: 15px 20px;margin: 20px 0px;min-height: 298px;box-shadow: 2px 5px 7px #c7c7c7;}
.about-p-item p.info {min-height:260px;}
.about-p-item .item:hover {background: #43bded;color: #fff;box-shadow: none; transition: all 0.5s;}
.about-p-item .item:hover a.btn.btn-apply {background: #fff;color: #000;}
.about-p-item .item:hover p.info {color: #fff;}
.about-p-item .owl-nav{top: 40%;}
/********howard-university-school-of-social-work-case-history-page******/
a.btn.btn-explore.sn{font-size: 16PX;background: #43bded;border-radius: 0px;color: #fff;font-weight: 600;padding: 15px 26px;
margin: 10px 0px 15px 0px;box-shadow: 0px 6px 7px #bdbcbd;}
a.btn.btn-explore.sn:hover {background: #353636;}
.h-university .other-text {min-height: 155px;}
/*******meadia-center-page*******/
.media-c .other-text {min-height: 205px;}
/******blog-page********/
.tabs-blog .nav-tabs {border-bottom: 0px;text-align: center;}
.tabs-blog .nav-tabs>li {float: none;    display: inline-block;}
.tabs-blog .nav-tabs>li a {text-transform: capitalize;background: #43bded;color: #fff;border-radius: 0px;padding: 4px 25px;
margin-bottom: 4px;}
.tabs-blog .item h3{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.tabs-blog .item p.info{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/***********info-sheet*******/

.Info.Sheets_p .item {min-height: 380px;}
.Info.Sheets_p .item p.info {min-height: 252px;}
/****our-video-page*****/
.our-video_p .item h3{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.our-video_p .item {margin-bottom: 20px;}
.video_p .owl-dots {display: none !important;}
/*****services-page*****/
.services_p .other-text {min-height: 225px;}
/******it-goverment-page*****/
.it-gov .other-text{min-height: 155px;}
/******cloud-com******/
ul.nav.nav-tabs.cloud-com li {width: 50%;}
/****risk-managment*******/
.risk-manag .other-text {min-height: 155px;}

/**********Home-service-icon*******/
.item a.services-icon1 {background: url(../images/ind-1.png) no-repeat;padding: 35px;
display: inline-block;position: relative;top: -5px;}
.item a.services-icon2 {background: url(../images/ind-2.png) no-repeat;padding: 35px;
display: inline-block;position: relative;}
.item a.services-icon3 {background: url(../images/ind-3.png) no-repeat;padding: 35px;
display: inline-block;position: relative;}
.item a.services-icon4 {background: url(../images/ind-4.png) no-repeat;padding: 35px;
display: inline-block;position: relative;}
.item a.services-icon5 {background: url(../images/ind-5.png) no-repeat;padding: 35px;
display: inline-block;position: relative;}
.item a.services-icon6 {background: url(../images/ind-6.png) no-repeat;padding: 35px;
display: inline-block;position: relative;}
.item a.services-icon7 {background: url(../images/ind-7.png) no-repeat;padding: 35px;
display: inline-block;position: relative;}
.item a.services-icon8 {background: url(../images/ind-8.png) no-repeat;padding: 35px;
display: inline-block;position: relative;}
.item a.services-icon9 {background: url(../images/ind-9.png) no-repeat;padding: 35px;
display: inline-block;position: relative;}


/*Added By Rajesh(12-11-19)*/
.pagination{}
.pagination li{margin-right: 3px;display: inline-block;}
.pagination li a{background: #43bded;
color: #fff;}
.pagination li.active a{background: #353636;color: #fff;padding: 6px 14px;border:1px solid #353636;}
.pagination li a:hover{background: #353636;color: #fff;border:1px solid #353636;}
.pagination>li:first-child>a, .pagination>li:first-child>span,.pagination>li:last-child>a, .pagination>li:last-child>span{border-radius: 0}
.main-header .right_head ul li:last-child a span img{margin-top: -2px;}
.navbar-nav li.dropdown{position: relative;}
.navbar-nav li.dropdown a{color: #000;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.navbar-nav li.dropdown-first ul.dropdown-sub-menu{display: none;left:100%;top: 0}
@media(min-width: 768px){
.navbar-nav li.dropdown-first:hover ul.dropdown-sub-menu{display: block;}
.navbar-nav li a:after{content: '';position:absolute;height: 4px;bottom: 0;width: 100%;background: #43bded;left: 0;opacity: 0;visibility: hidden; -webkit-transform: translate3d(0,4px,0);
transform: translate3d(0,4px,0);
-webkit-transition: -webkit-transform .4s cubic-bezier(.4,1,.4,1);
transition: -webkit-transform .4s cubic-bezier(.4,1,.4,1);
transition: transform .4s cubic-bezier(.4,1,.4,1);
transition: transform .4s cubic-bezier(.4,1,.4,1),-webkit-transform .4s cubic-bezier(.4,1,.4,1);}   
.navbar-nav li:hover a:after{opacity: 1;visibility: visible;-webkit-transform: translate3d(0,0px,0);
transform: translate3d(0,0,0);}   
.navbar-nav li .dropdown-menu li a:after{display: none;}  
.navbar-nav li.dropdown-first:after{content: '';position: absolute;top: 10px;border-left: 8px solid #43bded;
border-bottom: 8px solid transparent;border-top: 8px solid transparent;z-index: 9999;opacity: 0;visibility: hidden;}
.navbar-nav li.dropdown-first:hover:after{opacity: 1;visibility: visible;}
}
@media(min-width: 1200px){
.navbar-nav li.dropdown-first:after{right: -8px;}
}
@media(max-width: 1199px) and (min-width: 768px){
.navbar-nav>li>.dropdown-menu,.navbar-nav li.dropdown-first ul.dropdown-sub-menu{width: 150px;min-width: auto;}
.navbar-nav li:nth-child(4) .dropdown-first ul.dropdown-sub-menu{left: auto;right: 100%;}
.navbar-nav li.dropdown-first:after{right: -8px;}
.navbar-nav li:nth-child(4) .dropdown-first:after{right: auto;left: -8px;transform: rotate(180deg);}
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {background-color: #43bded;color: #fff}
.services-inner-bg{background: url(../images/blog-bg.jpg) repeat;}
.services-inner-bg .other-text{background: #fff;min-height: 155px}

ul.bulet-list{}
ul.bulet-list li{position: relative;padding-left: 20px;line-height: 30px;padding-bottom: 7px;}
ul.bulet-list li:before{position: absolute;content: "";top: 12px;left: 0;background: #000;height: 6px;width: 6px;
border-radius: 50%;}
.banner-top-video{padding-top:0}
.banner-top-video .left-sec{float: left;width: 58%}
.banner-top-video .left-sec h1{float: none;}
.banner-top-video .left-sec a{float: none;display: inline-block;margin-bottom: 10px}
.banner-top-video .right-sec{float: right;width: 40%;position: relative;}
.banner-top-video .banner-inner-text{padding-top: 50px;padding-bottom: 50px;}
.bg-white{background: #fff}
.img-right{float: right;margin-left: 20px;margin-top: 15px;}
.Executive-sec{}
.Executive-sec .ul-row{display: grid;grid-template-columns: auto auto;grid-gap: 0 30px }
.Executive-sec .ul-row .box{padding: 15px 15px 15px 20px;background: #f2f9fc;border-left: 3px solid #43bded}
.about-p-item.our-partnr-inner p.info{min-height: auto}
.about-p-item.our-partnr-inner .item{min-height: auto;padding: 30px }
.our-partnr-inner .owl-nav img{-webkit-filter: brightness(60%); /* Safari */
filter: brightness(60%);}
.our-partnr-inner .item i.fa-arrow-right{margin-left: 5px;}
.our-partnr-inner .item:hover .read-more{color: #fff;}
..about-p-item.our-partnr-inner .owl-nav{top: 40%;}
.about-center-slide .owl-item.center .other-text{border-bottom: 3px solid #43bded}
.contactus{}
.contactus ul li p{margin-bottom: 5px;}
.contactus ul{}
.contactus ul li{position: relative;padding-left: 50px}
.contactus ul li:before{content: "\f041";font: normal normal normal 14px/1 FontAwesome;width: 40px;height: 40px;background: #f1f9fc;
text-align: center;line-height: 40px;top: 0;font-size: 20px;color: #43bded;}
.contactus ul li:nth-child(2):before{content: "\f095";}
.contactus ul li:nth-child(3):before{content: "\f003";}
.contactus ul li:nth-child(4):before{content: "\f17e";}
.contactus ul li:hover a{color:#43bded}
.contactus .form-control{border-radius: 0;border: 1px solid #43bded;}
.contactus textarea.form-control{height: 120px;resize: none;}
.contactus .btn-contact{background: #43bded;border: 0;padding: 10px 26px;color: #fff;font-weight: 500;font-size: 16px;transition:.5s;}
.contactus .btn-contact:hover{background: #353636;}
#search {position: absolute;top: 92px;left: auto;right:18%;width: 65%;height: 63px;background-color: rgb(67, 189, 237);-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;-webkit-transform: translate(0px, -100%) scale(0, 0);-moz-transform: translate(0px, -100%) scale(0, 0);
-ms-transform: translate(0px, -100%) scale(0, 0);-o-transform: translate(0px, -100%) scale(0, 0);  transform: translate(0px, -100%) scale(0, 0);    opacity: 0;display: none;}

#search.open {-webkit-transform: translate(0px, 0px) scale(1, 1);-moz-transform: translate(0px, 0px) scale(1, 1);-ms-transform: translate(0px, 0px) scale(1, 1);-o-transform: translate(0px, 0px) scale(1, 1);   transform: translate(0px, 0px) scale(1, 1); opacity: 1;
z-index: 106;display: block;}

#search .input-box {position: absolute;top: 7px;left: 0;right:0;margin:0px auto;width: 96%;color: rgb(255, 255, 255);background: transparent;border-top: 1px solid rgba(255, 255, 255, .8);border-bottom: 1px solid rgba(255, 255, 255, .8);border-left: 0px solid transparent;border-right: 0px solid transparent;font-size: 16px;text-align: center;outline: none;padding: 10px;padding-right:35px;}
#search  input.input-box::placeholder{color: #fff;}
#search .btn-search{position: absolute;top: 35%;right: 20%;background: transparent;border: 0;font-size: 26px;}
#search .close {position: fixed;top: 22px;right: 30px;opacity: 1;font-size: 20px;color: #fff;z-index: 1;text-shadow: none;font-weight: 500}
#search .close:hover{color: #0e0e0e;cursor: pointer;}
.banner-inner.banking-markets-banner{background: url(../images/Banking_and_Capital_Markets_299089815_Preview.jpg)no-repeat;
background-size: cover;}
.cloud-computing-banner{background: url(../images/cloud_computing_227802575_Preview.jpg)no-repeat;
background-size: cover;}
.banner-inner.communication-banner{background: url(../images/Communications_268792586_Preview.jpg)no-repeat;
background-size: cover;}
.compliance-banner{background: url(../images/Compliance-Assessment-Services_244853100_Preview.jpg)no-repeat;
background-size: cover;}
.cybersecurity-asst-banner{background: url(../images/Cyber-Security-Assessment_161860908_Preview.jpg)no-repeat;
background-size: cover;}
.cybersecurity-ser-banner{background: url(../images/Cyber-Security-Services_271715382_Preview.jpg)no-repeat;
background-size: cover;}
.cybersecurity-tapdp-banner{background: url(../images/Cyber-Security-Training-and-Professional-Development-Programs_167596498_Preview.jpg)no-repeat;
background-size: cover;}
.banner-inner.educational-banner{background: url(../images/Educational-Institutions-and-Nonprofit-Organizations_253467942_Preview.jpg)no-repeat;
background-size: cover;}
.financial-ins-banner{background: url(../images/Financial-Institutions_103692844_Preview.jpg)no-repeat;
background-size: cover;}
.gdpr-banner{background: url(../images/GDPR_192779526_Preview.jpg)no-repeat;
background-size: cover;}
.goverment-publc-banner{background: url(../images/AdobeStock_179866206.jpeg)no-repeat;
background-size: cover;}
.health-insurnce-banner{background: url(../images/Health-Insurance-Portability-and-Accountability-Act-_123284771_Preview.jpg)no-repeat;
background-size: cover;}
.healthcare-banner{background: url(../images/Healthcare-Industry_247612876_Preview.jpg)no-repeat;
background-size: cover;}
.information-tech-sol-banner{background: url(../images/Information-Technology-Solutions_268787983_Preview.jpg)no-repeat;
background-size: cover;}
.insurance-banner{background: url(../images/Insurance_82904852_Preview.jpg)no-repeat;
background-size: cover;}
.it-governance-ser-banner{background: url(../images/IT-Government_services_113316017_Preview.jpg)no-repeat;
background-size: cover;}
.media-banner{background: url(../images/Media-Center_75800474_Preview.jpg)no-repeat;
background-size: cover;}
.network-security-banner{background: url(../images/Network-and-Security-Professional-Development_159472309_Preview.jpg)no-repeat;
background-size: cover;}
.oiland-gas-banner{background: url(../images/Oil-and-Gas_143375484_Preview.jpg)no-repeat;
background-size: cover;}
.penetration-banner{background: url(../images/Penetration-testing_267439562.jpg)no-repeat;
background-size: cover;}
.pharmaceutical-banner{background: url(../images/Pharmaceutical_228200877_Preview.jpg)no-repeat;
background-size: cover;}
.power-utility-banner{background: url(../images/Power-and-Utilities_78656445_Preview.jpg)no-repeat;
background-size: cover;}
.risk-mngt-banner{background: url(../images/Risk-Management-and-Assessment-Services_220900553_Preview.jpg)no-repeat;
background-size: cover;}
.security-awareness-banner{background: url(../images/Security-Awareness-and-Training_91504546_Preview.jpg)no-repeat;
background-size: cover;}
.banner-top-video video{width:100%;margin-top:20px;}
.cybersecurity-top-banner{background: url(../images/AdobeStock_270047769_Preview.jpg) no-repeat center;
background-size: cover;}
.glba-case-history-banner{background: url(../images/AdobeStock_61799524.jpeg)no-repeat;
background-size: cover;}
.cyber-security-case-history-banner{background: url(../images/AdobeStock_267359695.jpeg)no-repeat;
background-size: cover;}
.banner .item .video-box{height: 450px;overflow: hidden;float: left;width: 100%;position: relative;}
.banner .item .video-box:before{position: absolute;content:'';width: 100%;height: 100%;background: rgb(0, 0, 0, .5);}
.banner .item .video-box video{position: relative;top: 50%;left: 50%;min-width: 100%;min-height: 100%;width: auto;height: auto;z-index: -100;
transform: translateX(-50%) translateY(-50%);}
.footer-popup .modal{top: auto;}
.footer-popup .modal.fade .modal-dialog {-webkit-transition: -webkit-transform .3s ease-out;-o-transition: -o-transform .3s ease-out;
transition: transform .3s ease-out;-webkit-transform: translateY(500%);-ms-transform: translateY(500%);-o-transform: translateY(500%);
transform: translateY(500%);position: fixed;right: 15px;bottom: 185px;}
.footer-popup .modal.in .modal-dialog {-webkit-transform: translateY(100%);-ms-transform: translateY(100%);-o-transform: translateY(100%);
transform: translateY(100%);border-radius: 0}
.footer-popup .modal-dialog{width: 300px;}
.footer-popup .modal-content{border-radius: 0;box-shadow: none;border: 1px solid #43bded;}
.footer-popup .modal-header {padding: 8px 15px;border-bottom: 1px solid #29aee2;background: #43bded;}
.footer-popup .modal-header  h4{color: #fff;font-weight:500;line-height: normal;}
.footer-popup .modal-header  h4 a{color: #fff}
.footer-popup .modal-header  h4 a span{background: #fff;margin-right: 8px;padding: 5px 10px;color: #000;}
.footer-popup .modal-header .close {margin-top: 0;}
.footer-popup .modal-body{color: #000}
.footer-popup .btn-schedule{font-size: 16PX;background: #43bded;border-radius: 0px;color: #fff;font-weight: 600;padding: 10px 15px;
margin: 10px 0px 15px 0px;box-shadow: 0px 6px 7px #bdbcbd;}
.footer-popup .btn-schedule:hover{background: #353636;}


.full-banner-video{position: relative;padding-top: 0}
.full-banner-video .video-box {height: 400px;overflow: hidden;width: 100%;position: relative;}
.full-banner-video .video-box video {position: relative;top: 50%;left: 50%;min-width: 100%;min-height: 100%;width: auto;
height: auto;z-index: -100;transform: translateX(-50%) translateY(-50%);-moz-transform: translateX(-50%) translateY(-50%);-webkit-transform: translateX(-50%) translateY(-50%);}
.full-banner-video .banner-inner-text{position: absolute;bottom: 0;width: 100%;}
.it-change-banner .video-box video{margin-top: 15em;}


.search-result{padding-bottom: 0}
.search-result h2{font-size: 25px;}
.search-result h3{font-size: 20px;font-weight: 500}
.search-result h3 a:hover{color: #43bded}
.search-result .continue-read{color: #43bded}
.search-result .search-box{margin-bottom: 15px;}
/*************News Letter*************/
.subscribe .modal-body{padding: 10px 0 0 0}
.subscribe .modal-content{border-radius: 0}
.subscribe .modal-header {padding: 10px 15px;}
.subscribe .modal-header .modal-title{text-transform: capitalize;font-weight: 500;
font-size: 22px;}
.subscribe .modal-body .form-control{border-radius: 0;
border: 1px solid #43bded;}
.subscribe .modal-body textarea.form-control{height: 80px;resize: none;}
.subscribe .modal-body .btn-scrib{font-size: 16px;background: #43bded;border-radius: 0px;color: #fff;font-weight: 600;
padding: 10px 30px;margin-top: 0;box-shadow: 0px 6px 7px #bdbcbd;}
.subscribe .modal-body .btn-scrib:hover{background: #353636;}
.services-inner-bg .item  h3,.services .item h3{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}



@media(min-width:768px) and (max-width:2560px){
.about .row{display:flex;}
.about .row .col-sm-6:nth-child(2){margin-top:auto;margin-bottom:auto}
}

@media(max-width:1300px) {
.services .item p.info,.industries .item p.info {font-size: 14px;}
.industries .item h3,.inside .item h3 {font-size: 18px;}
.blog .item h3 {font-size: 15px;}
}

@media(max-width:1280px) {
.nav>li>a {padding: 35px 7px;font-size: 14px;}
.main-header .logo {margin-right: 0px}
.inner-content ul.nav-tabs li a {padding: 0px}
}

@media(max-width:1200px) {
#footer .foot_col:nth-child(2) {padding-left: 15px;}
#footer .foot_col:first-child {padding-right: 15px;}
.banner .item h1 {font-size: 25px;}
.banner {font-size: 15px;}
.industries .item h3,.inside .item h3 {font-size: 15px;margin-bottom: 5px;}
.banner .item a.btn.btn-banner {font-size: 14px;padding: 12px 22px;margin: 0px 0px 0 0px;}
.banner .item p {margin-top: 17px;line-height: 25px;}
.main-header .logo {width: 230px;}
.main-header .right_head ul li:first-child i.fa {height: 39px;width: 35px;line-height: 38px;margin-right: 5px;}
.main-header .right_head ul li:last-child a {font-size: 14px;padding: 9px 10px;}
.main-header .right_head ul li:last-child a span {margin-left: 4px;padding: 3px 4px;}
.nav>li>a {padding: 31px 4px;font-size: 13px;}
.dropdown-menu{font-size: 12px;}
#search{top: 90px}
}

@media(max-width: 1199px){
.blog .item{min-height: 324px;}
.banner .owl-theme .owl-controls .owl-prev,.banner .owl-theme .owl-controls .owl-next{display:none}
.owl-theme .owl-controls .owl-prev{left: -26px;}
.owl-theme .owl-controls .owl-next{right: -26px;}
.owl-theme .owl-controls .owl-nav div{width: 30px !important;height: 30px !important;}
}

@media(min-width:768px) and (max-width:1024px){
.h-university .other-text {min-height: 170px;}
.industries .item p.info{text-align: justify;}
/*.industry-content p{text-align:justify}*/
}
@media(min-width:992px) and (max-width:1024px){
.industries .item p.info{min-height: 75px;}
}
@media(max-width:992px) and (min-width:768px) {
.main-header .header-nav {float: right;}
.main-header .right_head {float: left;margin: 10px 0px;text-align: center;width: 100%;}
.nav>li>a {padding: 20px 4px 0px;}
.main-header .logo {margin: 10px;width: 207px;}
.services .owl-prev{left: -25px;}
.services .owl-next{right: -25px;}
.h-university .other-text {min-height: 200px;}
}

@media(max-width:992px) {
.banner-inner {padding: 100px 0px 0px}
.banner-inner .banner-inner-text {font-size: 15px;}
.copyright {padding: 10px 0px;font-size: 13px;}
#footer {font-size: 13px;}
#footer h3 {font-size: 15px;margin-bottom: 20px;}
#footer .foot_col:first-child ul li a i.fa {padding: 9px;font-size: 17px;height: 35px;width: 35px;margin-right: 3px;}
.subscribe h2 {font-size: 25px;}
.subscribe {padding: 25px 20px;top: 50px;}
.subscribe a.btn.subscribe-btn {font-size: 14PX;padding: 10px 15px;margin: 0px}
.industries .item h3,.inside .item h3 {font-size: 16px;}
.banner .item .banner-text {padding-left: 0px;}
.banner .item h1 span {padding: 15px;padding-left: 0;}
.banner .item p {margin-top: 0px;line-height: 20px;font-size: 13px;padding: 15px;padding-left: 0;}
.banner .item img {min-height: 240px}
.banner-top-video{padding-top:0}
#search{left: 0;right: 0;margin: 0 auto;top: 115px}
.full-banner-video{padding-top: 0}
}
@media(max-width: 991px){
.blog .item {
min-height: 356px;
}
.banner .item .video-box {height: 330px;}
.banner .item h1{margin-bottom: 0;}
.media-ser-lblog .item{min-height: 362px;}
.media-blog .item{min-height: 305px;}
}

@media(max-width:767px) {
.main-header .right_head ul li:first-child i.fa{height: 38px;}
iframe {width: 100%;height: 250px}
a.btn.load {margin-bottom: 15px}
.bg-blocks .white-col .item p.info {min-height: auto;}
.inner-content ul.nav-tabs li {padding: 15px 35px}
.banner-inner .banner-inner-text h1 {font-size: 25px;margin-bottom: 10px;float: none;}
.banner-inner .banner-inner-text a {font-size: 13px;float: none}
.banner-inner .banner-inner-text {font-size: 13px;line-height: 23px;}
.banner-inner .banner-inner-text .clearfix {margin-top: 15px;}
#footer .foot_col:first-child p,#footer .foot_col:first-child ul li {margin-bottom: 10px}
#footer {padding: 70px 0px 15px;}
.main-header .header-nav {float: none}
.main-header .logo,.main-header .right_head {margin: 10px 0px}
.navbar-inverse .navbar-nav>li>a {padding: 15px 10px}
.main-header .right_head,.banner-inner .banner-inner-text {float: none;text-align: center;}
.subscribe a.btn.subscribe-btn {float: none;margin-top: 10px}
.subscribe {padding: 15px;}
.subscribe h2 {font-size: 18px;}
.blog {padding: 15px 0px 0px}
.blog h2,.services h2,.industries h2,.inside h2,.explore h2,.about h2,.inner-content h2 {font-size: 16px;margin-bottom: 15px;}
a.watch {font-size: 13px;padding-top: 5px;}
.blog .item h3,.services .item h3,.industries .item h3,.inside h3,.services a,.industries a {font-size: 13px;margin-top: 0px;line-height: 20px;}
.services,.industries,.inside,.explore,.about,.blog.inner,.press {padding: 15px 0px}
.inner-content p{margin-bottom: 10px;}
.industries .item {text-align: center}
.industries .item figure {margin: 20px auto}
.services .item p.info,.industries .item p.info {font-size: 12px;margin-bottom: 5px;}
.explore .white-block {border-left: 6px solid #43bded;padding: 15px 15px;font-size: 14px;line-height: 22px;}
.explore .white-block a.btn.btn-explore,.about a.btn.btn-about {font-size: 14PX;padding: 10px 20px;margin: 0px 0px 20px 0px;}
.about p {margin-bottom: 10px;font-size: 13px;line-height: 24px;}
.explore h2 span:before,.blog h2 span:before,.services h2 span:before,#footer h3 span:after,.industries h2 span:after,.about h2 span:after,
.inside h2 span:before {bottom: -14px}
.banner .item .banner-text {padding-right: 15px;width: auto;}
.subscribe {top: 0px}
#footer,.inner-content {padding: 15px 0px}
body {font-size: 13px;}
.tab-content h2 {font-size: 15px;}
.banner .item p{margin-top: 0;padding-top: 0}
.industries h2{text-align: center;}
.industries h2 span:after{background-position: center;}
.blog .item {min-height: auto;}
.blog .owl-nav, .services .owl-nav{position: absolute;top: auto;bottom: 0px;}
.services,.blog{padding-bottom: 50px;}
.owl-theme .owl-controls .owl-prev{left: 0;}
.owl-theme .owl-controls .owl-next{right: auto;left: 35px;}
.header-nav .hasSub {position: absolute;right: 19px;top: 5px;width: 35px;height: 30px;background: #41bded;cursor: pointer;z-index: 123;}
.header-nav .hasSub:after {content: '';border-left: 2px solid #fff;border-bottom: 2px solid #fff;width: 12px;height: 12px;position: absolute;
top: 25%;left: 0;margin: auto;right: 0;transform: rotate(-45deg);}
.dropdown-menu{position: static;float: none;}
.caret{display: none;}
.banner-top-video .left-sec,.banner-top-video .right-sec{width:100%;}
.about-p-item .owl-nav, .about-p-item .owl-nav{top:auto !important;}
.Executive-sec .ul-row {grid-template-columns: auto;    grid-gap: 15px;}
.img-right{float:none;margin-left:0;width:100%;}
.banner .item .video-box {height: 400px;}
#search{width: 100%;height: 50px;top: auto;margin-top: 10px}
#search .input-box{width: 96%;margin: 0 auto;left: 0;right: 0;padding: 5px 40px 5px 5px;top: 5px;}
#search .close{top: 15px;}
.footer-popup .modal.fade .modal-dialog{right: 0}
.full-banner-video .video-box {height: 350px;}
.search-result p{margin-bottom: 5px;}
.search-result h2{margin-bottom: 25px;}
.search-result h3{font-size: 15px;}
.about-youtubevdo iframe{height: 250px;}
.bg-blocks .white-col .item,.media-ser-lblog .item,.media-blog .item{min-height: auto}
}

@media(max-width:640px) {
.banner-inner {padding: 70px 0px 0px;}
.inner-content ul.nav-tabs li,.inner-content ul.nav-tabs.half-width li {width: 100%}
.inner-content ul.nav-tabs li.active:after {display: none}
.full-banner-video .banner-inner-text{padding: 0}
.full-banner-video{padding-top: 0}

}
@media(max-width: 599px){
.h-university .other-text{min-height: auto;}
}
@media(max-width:480px) {
.banner .item img {min-height: auto}
.banner .item h1 {font-size: 20px}
.inner-content ul.column-2 {column-count: 1;}
.navbar-nav li a{padding-right:60px !important;}
.industries .col-xs-6{width: 100%;}
.banner .item .video-box {height: 300px;}
.banner-inner .banner-inner-text h1{font-size: 22px;}
.about-youtubevdo iframe,iframe{height: auto;}
.in-page-service .other-text { min-height: auto;}
.about-p-item.our-partnr-inner .item{padding: 15px;}
.about-p-item .item{box-shadow: none;}
.banner .item h1{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.banner .item p{padding-bottom: 0}
}
@media(max-width: 360px){
.banner .item .video-box,.full-banner-video .video-box{height: 250px;}
.full-banner-video .video-box {height: 300px;}
}

.tooltip {position: relative;display: inline-block;opacity: 1}
.tooltip .tooltiptext {visibility: hidden;width: 120px;background-color: black;color: #fff;text-align: center;border-radius: 6px;
padding: 5px 0;position: absolute;z-index: 1;bottom: 115%;left: 50%;margin-left: -60px;}
.tooltip .tooltiptext::after {content: "";position: absolute;top: 100%;left: 50%;margin-left: -5px;border-width: 5px;
border-style: solid;border-color: black transparent transparent transparent;}
.tooltip:hover .tooltiptext {visibility: visible;}
p a {color: #43bded;font-weight: 600}
